TUNNEL_SUBDOMAIN=mse1h2026-backend-12345

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app_db

RABBIT_USER=rabbit_user
RABBIT_PASS=secure_password_mq

GITHUB_TOKEN=ghp
GITHUB_USER=User

CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
SMEE_URL=https://smee.io/ваш-адрес