/* Сброс стандартных отступов браузера */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: #1a1a1a;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.hello-title {
  font-size: 5rem;
  margin: 0;
  background: linear-gradient(90deg, #61dafb, #d6ff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}